.header {
  height: 10vh;
  background: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mafia-logo {
  color: red;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 32px;
  text-align: center;
}